*
{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.hidden_mob1
	{
		display: none;
		visibility: hidden;
	}
header
{
	/*position: -webkit-sticky;
	position: sticky;
	top: 0;*/
	z-index: 100;
	background-color: #fff;
	padding: 1rem 4vw 0.5rem 4vw;
	transition: 1s;
	border-bottom: 1px solid rgba(0,0,0,0.1);

}

.stick_header
{
	
	position: sticky;
	top: 0;
	animation: 0.5s linear animeHead;
	border-bottom: 1px inset rgba( 0, 0, 0,0.2);
	box-shadow: 0 0 0 2px rgba( 0, 0, 0,0.1);

}

.rel_header
{
	position: relative;
	animation: 0.5s linear animeHeadBack;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.hidden
{
	visibility: hidden;
}
.animeFadeIn
{
	visibility: visible;

	animation:1s ease-out fadeinup;
	
}
.animeFadeIn2
{
	visibility: visible;

	animation:1s ease-out fadeinupSS;
	
}
 @keyframes animeHead
 {
 	0%
 	{	
 		transform: scaleX(0);
 		opacity: 0;
  	}
  	100%
  	{
  		transform: scaleX(1);
  		opacity: 1;
  	}
 }
 @keyframes animeHeadBack
 {
 	0%
 	{	

  		
  		opacity: 1;
 		
  	}
  	100%
  	{
  		
 		opacity: 0;
  	}
 }
@keyframes fadeinup
{
	0%
	{
		  transform: translate3d(0,-40px,0);
		opacity: 0;
	}
	100% 
	{
		  transform: translate3d(0,0,0);
		opacity: 1;

	}
}
@keyframes fadeinupSS
{
	0%
	{
		  transform: translate3d(-40px, 0px, 0px);
		opacity: 0;
	}
	100% 
	{
		  transform: translate3d(0,0,0);
		opacity: 1;

	}
}
.container
{

	display: flex;
	justify-content: space-between;
	max-width: 138rem;
	

	margin:0 auto;
}
.nav_logo
{
	margin-right: 1rem;
}
.nav_links
{
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 1.3rem;	
	
}
.nav_links li
{
	display: inline;
	cursor: pointer;
	margin: 0 5vw 0 0;
	
}
.nav_links a
{
	text-decoration: none;
	color: inherit;
}
.nav_links a:hover
{
	color: #f7a81b;
}
.lang_link
{
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.lang_list
{
	display: flex;
	justify-content: flex-start;

	position: absolute;
	left: -35%;
	top:150%;
	max-width: 5rem;
	max-height:9.5rem;
	 
	background-color: #fff;
	z-index: 100;
	 overflow: hidden;
}
.lang_list li
{
	margin-top: 15px;
	margin-left: 15px;
}
.lang_list li:hover
{
	color: #db9f35;
}
.triangleOff
{
	margin-left: 5px;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right:6px solid transparent;

	border-top: 7px solid #000;
}
.lang_link:hover .triangleOff
{
	border-top: 7px solid #db9f35;
}
.lang_link:hover .triangleOn
{
	border-bottom: 7px solid #db9f35;
}
.triangleOn
{
	margin-left: 5px;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:  7px solid #000 ;
}
.wrapper
{
	position: relative;
	max-width: 160rem;
	margin: 0 auto;
	
	overflow: hidden;
}
.about_photo1
{	
	position: relative;
	/*margin-top: -5rem;*/
	width: 110%;
	
	z-index: 10;
}

.about_photo2
{
	position: relative;
	width: 100%;

	margin-top: -30%;
	z-index: 1;

}
/*.about
{
	position: relative;
	width: 100%;
	  
	overflow: hidden;
}
*/

.about_content
{
	position: absolute;
	top:20.5%;
	right:15%;

	 
	max-height: 110%;
	
	
	z-index: 20;
	background-color: rgba(234, 232, 231,0.9);
	color: #000;


}
.about_content_text
{
	display: block;
	width: 34rem;
	height: 100%;
	padding: 0 50px 0 50px;
	text-align: left;
	 
	 

}
.about_content_text:last-child
{
	margin-bottom: 60px;
}
.about_content_text h2
{
	margin-top: 60px;
	margin-bottom: 60px;
	font-weight: 700;
	font-size: 40px;
}
.about_content_text p
{	

	font-size: 15px;
}
.text_arrow
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 50px;
	
	

	
}
.arrow_logo
{
	display: block;
	margin: 0 1.5rem;
}
.line_arrow
{
	margin-top: 10px;
	width: 10rem;
	height: 0.1rem;
	background-color: #f0c882;
}

.map
{
	position: relative;
	z-index: 50;
	width: 100%;
	height: 100%;
	margin-top: -2rem;
	overflow: hidden;

}
.map_title
{
	padding-top: 5rem;
	width: 100%;
	height: 100%;
	background-color: #fff;

}
.map_title h3
{
	
	text-align: center;
	font-size: 3em;
	color: #000;
}
.map_content
{
	
	z-index: 50;
	width: 100vw;
	 
	height: 120vh;
	background-image: url("../styles/images/map.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.map_inside
{

	display: block;
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;

	
}

.paraguay
{
	position: absolute;
	top: 37%;
	left: 24%;
	min-width: 10%;
	border: 1px inset rgba( 0, 0, 0,0.2);
	box-shadow: 0 0 0 2px rgba( 0, 0, 0,0.1);
	padding: 0.5rem 0.5rem;
	background-color: #fff;
	
	/*margin:50% 0 0 60%;*/
}
.map_inside h5
{
	font-weight: 500;

	font-size: 17px;
}
.map_inside li
{
	position: relative;
	font-size: 15px;
	margin-left: 0.5rem;
	list-style: none;
}
.map_inside li:before
{
	position: absolute;
	content: "";
	top: 43%;
	left: -8%;
	width: 0.3rem;
	height: 0.3rem;
	background-color: #dca33d;
	border-radius: 100%;
}
.map_arrow
{
	position: relative;
	display: flex;
	width: 100%;
	padding: 0.5rem 0;
}
.paraguay:after
{
	position: absolute;
	right:-9%;
	bottom: -9%;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #f7a81b;

}
.nav_logo_item a
{
	color: #000;
	padding: 30px 30px;
	text-decoration: none;	
}
.map_arrow img
{
	height: 0.5rem;
}
.map_arrow_line
{
	width: 60%;
	height: 0.05rem;
	background-color: #f0c882;
	margin: 0.2rem 0 0 0.2rem;
}
.ukraine
{
	position: absolute;
	top: 9.6%;
	left: 45.5%;
	min-width: 12%;
	border: 1px inset rgba( 0, 0, 0,0.2);
	box-shadow: 0 0 0 2px rgba( 0, 0, 0,0.1);
	padding: 0.5rem 1rem;
	background-color: #fff;
}
.ukraine:after
{
	position: absolute;
	right:-9%;
	bottom: -9%;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #f7a81b;

}

.russia
{
	position: absolute;
	top: 9%;
	left: 62%;
	border: 1px inset rgba( 0, 0, 0,0.2);
	box-shadow: 0 0 0 2px rgba( 0, 0, 0,0.1);
	min-width: 12%;

	padding: 0.5rem 1rem;
	background-color: #fff;
}
.russia:after
{
	position: absolute;
	left:-9%;
	bottom: -9%;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #f7a81b;

}

.brazil
{
	position: absolute;
	top: 36%;
	left: 37.1%;

	min-width: 12%;
	border: 1px inset rgba( 0, 0, 0,0.2);
	box-shadow: 0 0 0 2px rgba( 0, 0, 0,0.1);
	padding: 0.5rem 1rem;
	background-color: #fff;
}
.brazil:after
{
	position: absolute;
	left:-9%;
	bottom: -9%;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #f7a81b;

}
.argentina
{
	position: absolute;
	top: 62%;
	left: 21%;

	min-width: 12%;
	border: 1px inset rgba( 0, 0, 0,0.2);
	box-shadow: 0 0 0 2px rgba( 0, 0, 0,0.1);
	padding: 0.5rem 1rem;
	background-color: #fff;
}
.argentina:after
{
	position: absolute;
	right: -9%;
	top: -9%;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #f7a81b;

}

.uruguay
{
	position: absolute;
	top: 63%;
	left: 35%;

	min-width: 12%;
	border: 1px inset rgba( 0, 0, 0,0.2);
	box-shadow: 0 0 0 2px rgba( 0, 0, 0,0.1);
	padding: 0.5rem 1rem;
	background-color: #fff;
}
.uruguay:after
{
	position: absolute;
	left: -9%;
	top: -9%;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #f7a81b;

}
.malaysia
{
	position: absolute;
	top: 29.5%;
	left:66%;
	border: 1px inset rgba( 0, 0, 0,0.2);
	box-shadow: 0 0 0 2px rgba( 0, 0, 0,0.1);
	min-width: 12%;

	padding: 0.5rem 1rem;
	background-color: #fff;
}
.malaysia:after
{
	position: absolute;
	right:-9%;
	bottom: -9%;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #f7a81b;

}
.map_inside .malaysia li:before
{
	position: absolute;
	content: "";
	top: 20%;
	left: -8%;
	width: 0.3rem;
	height: 0.3rem;
	background-color: #dca33d;
	border-radius: 100%;
}

.contacts
{
	display: flex;
	width: 100%;
	
	
	height: 75rem;
	background-color: #db9f35;
}
.contacts_left
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 60%;
	height: 100%;
	background-color: #db9f35;
}
.contacts_content
{
	max-width: 70%;
	
 	
	margin: 0 auto;
	margin-top: 7rem;
}

.contacts_content_title
{
	width: 100%;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
}
.blocks
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;


}
.contacts_block1
{
	/*padding: 0 7rem 0 0;*/
	font-size: 1em;
	color: #fff;
	width: 40%;
	/*border:1px solid black;*/
	/*min-width: 28rem;*/
	
}
.contacts_block1 h5
{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.contacts_block1 p
{
	padding: 0.3rem 0;
}

.contacts_footer
{

	 display: flex;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 50vw;
	 

	 margin: 0 auto;
	  
	 color: #fff;
	 font-size: 1em;
	 padding-bottom: 1rem;
}
.rights
{
	float: left;
	display: flex;
	align-items: center;
}
.company
{
	
	display: flex;
	align-items: center;
	margin-top: 1rem;
	margin-left: 2rem;
}
.company img
{
	margin-left: 0.5rem;
	height: 40%;
	opacity: 0.7;
}
.company img:hover
{
	opacity: 1;
 
}



.contacts_right
{
	width:40%;
	height: 100%;
	background-image: url("../styles/images/photo2.jpg");
	background-repeat: no-repeat;
	background-position: 60% 0%;
	background-size: cover;
}