@media(max-width: 990px)
{
	 
	.rel_header
	{
		position: relative;
		animation: none;
		z-index: 100;
	background-color: #fff;
	padding: 1rem 4vw 0.5rem 4vw;
	}
	.stick_header
{
	position: relative;
	animation: none;
	z-index: 100;
	background-color: #fff;
	padding: 1rem 4vw 0.5rem 4vw;
}
.rel_header_mob
	{
		position: relative;
		animation: none;
		z-index: 100;
	background-color: #fff;
	padding: 1rem 4vw 0.5rem 4vw;
	}
	.stick_header_mob
{
	position: relative;
	animation: none;
	z-index: 100;
	background-color: #fff;
	padding: 1rem 4vw 0.5rem 4vw;
}
	.nav_links
	{
		display: none;
	}
	.hidden_mob
	{
		display: none;
		visibility: hidden;
	}
	.visb_mob
	{
		z-index: 100;
		display: flex;
		visibility: visible;
	}
	.hidden_mob1
	{
		display: none;
		visibility: hidden;
	}
	.header_mob
	{
		position: relative;
		min-height:60px;
		padding:1rem 2vw 1rem 2vw;
		 
	}
	.nav_mob
	{

		position: absolute;
		top:102%;
		left: 0;
		 width: 100%;
		background-color: #fff;
		height: 10rem;
		font-weight: 600;
		font-size: 1rem;	
		z-index: 200;
	}
	.nav_mob li
{
	 list-style: none;
	cursor: pointer;
	margin: 1rem 0 1rem 1rem;
	
}
.nav_mob a
{
	text-decoration: none;
	color: inherit;
}
	.nav_links_mob
	{
		position: relative;
		 
		top: 13%;
		left: 0;
		display: flex;

		flex-direction: row;
		width: 100%;
		background-color: #fff;
		height: 60%;
		 justify-content: center;
		font-weight: 600;
		font-size: 1.3rem;	
	}
	.nav_links_mob
{
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 1.3rem;	
	
}
.nav_links_mob li
{
	 list-style: none;
	cursor: pointer;
	margin: 1rem 0 1rem 1rem;
	
}
.nav_links_mob a
{
	text-decoration: none;
	color: inherit;
}
	.burger
	{
		 
			
		display: flex;
		align-items: center;
		z-index: 0;
		 
	}
	.burger-btn
	{
		position: relative;
		margin-left: 10px;
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		z-index: 0;
	
	}

		.burger-btn span,
		.burger-btn span::after,
		.burger-btn span::before
		{
			position: absolute;
			top: 50%;
			left: 30%;
			background-color: #000;
			width: 20px;
			height: 2px;
		}
		.burger-btn span::after,
		.burger-btn span::before
		{ 
			display: block;
			transition: 0.2s;
			margin-left: -6px;
			height: 2px;
			width: 100%;
			content: '';
		}
		.burger-btn span::after
		{

			transform: translateY(-7px);
			
		}
		.burger-btn span::before
		{
			transform: translateY(5px);
		}

			.burger-btn-acitve span
			{
				height: 0;
			}
			.burger-btn-acitve span:after
			{
				transform: rotate(45deg);
			}
			.burger-btn-acitve span:before
			{
				transform: rotate(-45deg);
			}
			


		.nav_logo_item img
		{
			width: 80%;
			height: 80%;
		}

	.container_mob
	{
		display: flex;
		justify-content: space-between;

	}
	.about_content_mob
	{
		top: 10%;
		left: 18%;
		overflow: hidden;
		max-width: 70vw;
	}
	.about_content_text_mob h2
	{
		width:100px;
		padding: 0 20px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 2em;
	}
	.about_content_text_mob p
	{
		max-width: 24rem;
		font-size: 15px;
	}
	.text_arrow_mob
	{
		max-width: 24rem;

		margin: 1rem 4rem 1rem 4rem;
	}

	.line_arrow_mob
	{
		max-width: 8rem;
	}

.animeFadeIn
{
	visibility:hidden;
	animation: none;
}
.animeFadeIn2
{
	animation: none;
	visibility:hidden;
}
.hidden
{
	visibility: visible;
}

.map_less_mob
{
	max-height: 400px;
}

.map_block_mob
{
	display: none;
}

.map_content_mob
{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.map_block_mob2
{
	position: relative;
	bottom: 0;
	right: 0;
	margin-left: 50px;
	margin-bottom: 20px;
	top:0;
	left: 0;
	min-width: 100%;
	border: none;
	box-shadow: none;
}



.map_content_mob h5
{
	font-weight: 500;

	font-size: 1.7rem;
}
.map_content_mob li
{
	position: relative;
	font-size: 15px;
	margin-left: 0.5rem;
	list-style: none;
}
.map_content_mob li:before
{
	position: absolute;
	content: "";
	top: 43%;
	left: -1%;
	width: 0.3rem;
	height: 0.3rem;
	background-color: #dca33d;
	border-radius: 100%;
}


.map_arrow_line
{
	width: 10%;
}
.contacts_left
{
	width: 100%;
}
.contacts_right_mob
{

	display: none;
}
.image_bot_mob
{
	width:100%;
	height: 100vh;
	background-image: url("../styles/images/hotel.png");
	background-repeat: no-repeat;
	background-position: 60% 50%;
	background-size: cover;
}
.blocks
{
	display: flex;
	flex-direction: column;
}
.contacts_content_title
{
	font-size: 1.5rem;
}
.contacts_block1
{
	font-size: 0.6rem;
	width: 80%;
}
.contacts_footer
{
	margin-top: 2rem;
	max-width: 50rem;
	padding: 0 2rem;
}
.contacts
{
	display: block;
	height: 100%;

}
.rights,.company
{
	font-size: 0.5rem;
}


}
@media(max-width: 650px)
{
	.about_content_mob
	{
		top: 10%;
		left: 18%;
		overflow: hidden;
		max-width: 70vw;
	}
	.about_content_text_mob h2
	{
		width:100px;
		padding: 0 20px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 2em;
	}
	.about_content_text_mob p
	{
		max-width: 18rem;
		font-size: 10px;
	}
	.text_arrow_mob
	{
		max-width: 18rem;

		margin: 1rem 2rem 1rem 3rem;
	}

	.line_arrow_mob
	{
		max-width: 8rem;
	}
	.nav_mob
	{
		font-size: 0.7rem;
	}
}
@media(max-width: 520px)
{
	 
	 .contacts_footer
{
	margin-top: 2rem;
	max-width: 60rem;
	padding: 0 2rem;
}
 
.rights,.company
{
	font-size: 0.4rem;
}

	.about_content_text_mob h2
	{
		width:100px;
		padding: 0 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1em;
	}
	.about_content_text_mob p
	{
		max-width: 14rem;
		font-size: 8px;
		margin-left: -30px;
	}
	.text_arrow_mob
	{
		max-width: 13rem;

		margin: 1rem 2rem 1rem 3rem;
	}

	.line_arrow_mob
	{
		max-width: 8rem;
	}
}
@media(max-width: 410px)
{
	 .contacts_footer
{
	margin-top: 2rem;
	width: 100%;
	padding: 0 0.4rem;
}
 
.rights,.company
{
	font-size: 0.3rem;
}

	 .about_content_mob
	 {
	 	top: 0%;
	 }
	.about_content_text_mob h2
	{
		width:100px;
		padding: 0 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1em;
	}
	.about_content_text_mob p
	{
		max-width: 10rem;
		font-size: 7px;
		margin-left: -20px;
	}
	.text_arrow_mob
	{
		max-width: 10rem;

		margin: 1rem 2rem 1rem 2rem;
	}

	.line_arrow_mob
	{
		max-width: 7rem;
	}
}