
@media(max-width: 1024px)
{
header .container
{
	
	z-index: 0;
	width: 90vw;
}

.container-mobile
{
	
	margin-top: -20px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 0;
	

}
.burger
	{
		
			
		display: flex;
		align-items: center;
		z-index: 0;
		/*margin-left: 50px;*/
	}
	.burger-btn
	{
		position: relative;
		margin-left: 10px;
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		z-index: 0;
	
	}

		.burger-btn span,
		.burger-btn span::after,
		.burger-btn span::before
		{
			position: absolute;
			top: 50%;
			left: 30%;
			background-color: #d5b3b7;
			width: 20px;
			height: 2px;
		}
		.burger-btn span::after,
		.burger-btn span::before
		{ 
			display: block;
			transition: 0.2s;
			margin-left: -6px;
			height: 2px;
			width: 100%;
			content: '';
		}
		.burger-btn span::after
		{

			transform: translateY(-7px);
			
		}
		.burger-btn span::before
		{
			transform: translateY(5px);
		}

			.burger-btn-acitve span
			{
				height: 0;
			}
			.burger-btn-acitve span:after
			{
				transform: rotate(45deg);
			}
			.burger-btn-acitve span:before
			{
				transform: rotate(-45deg);
			}
			







.ukr-china-club-mob
{
	display: block;
	text-align: center;
	
}
.ukr-china-club-mob p
{
font-size: 10px;
}
.ukr-china-club
{
	display: none;
}
	.menu
	{
		
		display: none;
			
	}
	.container
	{
		
		width: 75%;
		display: flex;
		flex-direction: column;
		justify-content: center;


	}
	.menu-mob
	{
		
		display: block;

		position: absolute;
		
		top: 50px;
		left: 0;
		
		width: 90vw;
		
		background-color: #73000e;
		z-index: 999999;

	}
	.menu-mob li
	{
		width: 100%;
		border-left: none;
		border-bottom:  1px solid rgba(255, 255, 255,0.3);
		display: block;
		padding: 10px 0;
	}
	.menu-mob a
	{
		display: block;
		width: 100px;
		padding: 0;
	}
	.nav
	{
		
		justify-content: flex-end;
	}
	
	.lang
	{

		display: flex;
		/*margin-right: 100px;*/
		align-items:  center;
		justify-content: center;
		background-color: white;
		width: 40px;
		height: 40px;
		cursor: pointer;
		border-radius: 100%;
		color: #6a000d;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
	}
	.lang p 
	{
		font-size: 10px;
	}

	.hero 
	{
		position: relative;
			z-index: 0;
		width: 100%;
		max-height:1000%;
		overflow: hidden;
	}
	.china-logo
	{
		position: relative;
		top: 220px;
		left: 180px;
		min-width: 400px;
		min-height: 400px;
		background-position: 0% 0%; 
		background-size: cover;
		border-radius: 100%;
		z-index: 0;
		transition: all 1.5s ease-in-out;
		margin-bottom: 350px;


	}
	.china-logo:after
	{


		position: absolute;
		top:-20px;
		left: -20px;
		width: 110%;
		height: 110%;
		content: "";
		background-image: url("images/Ellipse-2.png");
		background-size: contain;
		background-repeat: no-repeat;

			z-index: 0;

	}
	.logoAfter
	{
		display: none;
	}
	.logoAfter:after
	{
		display: none;
	}
	.china-logo:before
	{
		display: none;
	}
	/*.ukr-china-club 
	{

		position: relative;
		top: -120px;
		left: 0;
		text-align: center;
		
		margin-bottom: 100px;
	}*/
	.about-us
	{
		text-align: center;
		
		margin: 0;
		margin-top: -100px;
		font-family: 'Roboto', sans-serif;
		color: #fff;
	}
	.about-us h2
	{
		margin-bottom: 50px;

		font-size:45px;
		font-weight: 500;
	}
	.about-us .p3
	{
		font-size: 16px;
	}

	.about-us p
	{
		font-size: 12px;
		text-align: center;
	}
	
	.container-2
	{

		
		width: 300px;
		
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items:  center;

	}
	.sector-examples
	{
		
		max-width: 1024px;
		justify-content: center;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.button-scrollTop
	{
		display: none;
	}

	.ourMission-container
	{
		
		display: flex;
		margin: 0 auto;
		
	
		width: 350px;
		text-align: center;
		

	}

	.ourMission-container:after
	{
		display: none;
	}
	.blockMission
	{
		position: relative;
		z-index: 300;
		margin: 0;

		
		max-width: 350px;


	}
	.blockMission h1
	{
		
		font-size: 35px;
		
	}
	.blockMission p
	{
		
		font-size: 16px;
	

	}
	.black-line
	{	
		
		z-index: 300;
		margin: 0 auto;
		margin-right: -250px;
		width: 140px;
		height: 6px;
		background-image: url("images/darkLine.png");
		background-repeat: no-repeat;
	}
	.vector .container
	{
		display: flex;
		flex-direction: column-reverse;
	}
	.vector-left
	{
		display: flex;
		justify-content: center;
		margin: 0;
		width: 100%;
		text-align: center;
	}
	.vector-left-content h1
	{
		padding: 0px 0;
		color: #b10015;
		font-size: 30px;
		font-weight: 100;


	}
	.vector-left-content ul
	{

		text-align: center;
		padding: 20px 0;
		color: #59646a;
		font-size: 12px;
		font-weight: 300;
		

	}
	.vector-right
	{

		z-index: 3000;
		width:100%;


	}
	.vector-right-content
	{

		position: relative;
		z-index: 3000;
		display: flex;
		

		justify-content: center;
		background-image: url("");
		background-repeat: no-repeat;
		
	}
	.vector-right-content-logo
	{
		position: relative;

		margin: 100px 0 0px 0;
		width: 500px;
		height: 320px;
		background-image: url("images/vector-team.png");
		background-repeat: no-repeat;
		background-position: 70% 20% ;
		border-radius: 1%;
		
	}
	.vector-right-content-logo-after
	{	
		display: none;

	}	
	.vector-right-content-logo-after:after
	{
		display: none;

	}	
	.sector-ability .container
	{
		width: 300px;
		margin: 0 auto;
		padding-left: 20px;

	}
	.sector-ability
	{
		position: relative;
		text-align: center;

		
		width: 100%;
		margin-bottom: 100px;
	}
	.sector-ability  h1
	{
		font-size:35px;
	}
	.sector-examples
	{
		margin: 0 auto;
		
		position: relative;

		z-index: 3333;
		width: 300px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		height: 100%;
		
	}
	.help
	{
		overflow: hidden;
		width: 100%;
		min-height:1000px;
		height: 100%
		background-color: #a00013;
	}
	.round-container
	{
		position: relative;
		width: 100%;
		height:100%;


		background-image: url("");

	}
	.round-container:after
	{
		display: none;
	}

	.helping
	{

		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
		align-items:  flex-start;
		flex-direction: column;
		width: 100%;
		height: 100%;
		width: 75%;
		text-align: center;



	}
	.help-1
	{
		width: 100%;

		margin-right: 0;
		margin-bottom:  100px;
	}
	.logo-1
	{
		position: relative;
		width: 80px;
		height: 60px;
		background-image: url("images/hands.png");
		background-repeat: no-repeat;

		border-radius: 100%;
		background-position: center;
		margin: 0 auto;


		margin-bottom: 50px;
	}
	.help-2
	{
		margin-right: 0;
		width: 100%;
		margin-bottom:  100px;
	}
	.logo-2
	{
		position: relative;
		width: 80px;
		height: 60px;
		background-image: url("images/lupa.png");
		border-radius: 100%;
		background-repeat: no-repeat;
		background-position: center;

		margin: 0 auto;
		margin-bottom:  50px;
	}
	.help-3
	{
		width: 100%;
		margin-bottom:  100px;
	}

	.logo-3
	{
		position: relative;
		width: 80px;
		height: 60px;
		margin-bottom: 40px;
		border-radius: 100%;
		background-image: url("images/q.png");
		background-position: center;
		background-repeat: no-repeat;

		margin: 0 auto;
		margin-bottom:  50px;
	}

	.help-content h1
	{
		padding: 90px 0 65px 0;
		font-size:35px;
		color: #fff;


	}
	.mob
	{
		display: block;
	}
	.contacts-mob
	{
		display: block;

		position: relative;
		top: 0px;
		left: 0px;
		padding: 50px;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 350px;
		border-radius: 0%;
		background-color: #fff;

	}

	.contacts-mob p
	{
		padding:   10px 0;
	}
	.contacts-mob h1
	{
		color: #a00013;
		font-size: 40px;
		font-weight: 100;
		padding-bottom: 20px;
	}
	.contacts
	{
		display: none;
	}
	.contacts:after
	{
		display: none;
	}	

	.map
	{
		max-height: 100%;
	}
}
@media(max-width: 600px)
{
	li
	{
		font-size: 10px;

	}
	a
	{
		font-size: 10px;

	}
	p
	{
		font-size: 10px;
	}
	.china-logo
	{
			min-width: 200px;
		min-height: 200px;
	}
	.china-logo:after
	{


		position: absolute;
		top:-10px;
		left: -10px;
		width: 110%;
		height: 110%;
		content: "";
		background-image: url("images/Ellipse-2.png");
		background-size: contain;
		background-repeat: no-repeat;

	}
	.ukr-china-club 
	{

		position: relative;

		top: -120px;
		left: -30px;
		text-align: center;
		font-size: 18px;
		margin-bottom: 100px;
	}
	.lang
	{
		
	}
	header .container
	{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}
}