* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
a {
	color: currentColor;
}


header
{
	
	width: 100%;

	
}

.container 
{
	position: relative;
	min-width: 25%;
	max-width: 1000px;
	margin: 0 auto;
	z-index: 3000;
	
	
}
.nav
{


	display: flex;

	z-index: 1000;
	padding-top: 30px;
	padding-bottom: 20px;
}
.menu
{
	
	display: flex;

	margin: 0 auto;
	align-content:  center;
}
.menu li
{
	
	list-style: none;
	vertical-align: top;
	display: inline-block;
	
	height: 100%;
	border-left: 1px solid rgba(255, 255, 255,0.3);
	
}
.menu li:first-child
{
	border-left: none;
}
.menu a
{
	display: flex;
	align-items: flex-start;
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 100%;
	padding: 0px 30px 0px 20px;


}
.lang
{
	display: flex;
	/*margin-right: 100px;*/
	align-items:  center;
	justify-content: center;
	background-color: white;
	width: 50px;
	height: 45px;
	cursor: pointer;
	border-radius: 100%;
	color: #6a000d;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}


.hero
{
	
	
	height: 100%;
	max-height: 850px;
	width: 100%;
	background-image: url("http://euro-invest.com.ua/img/h_bg.png");/*,linear-gradient(black,#ed0808, #ed0808,black);*/
	/*
 	background-image: url("images/mountains.png"), 
 	-webkit-gradient(linear, left top, left bottom, color-stop(0%, #990000), color-stop(100%, #ed0808));*/




 	background-repeat: no-repeat;
 	background-position: 100%;
 	background-size:cover ;
 	z-index: 1;

 }
/*.hero:after
{

	position: absolute;
	filter: brightness( 65%);
	z-index: 0;
	content: "";
	left:0;
	top:0px;
	width: 100%;
	height:100%;
	opacity: 0.8;
	
	background: 
	}*/






	.container-2
	{
		position: relative;
		display: flex;
		max-width: 1366px;
		margin: 0 auto;
		justify-content: center;
		z-index: 0;

	}
/*.left-part
{
	position: relative;
	

	width: 100%;
	max-width: 960px;
	border: 1px solid red;
	}*/
	.china-logo
	{
		position: relative;
		display: block;
		background-color: black;
		top: -80px;
		left: -300px;
		min-width: 800px;
		min-height: 830px;
		margin-right: 350px;
		
		background-repeat: no-repeat;
		border-image: 100%
		background-position: 0% 100%; 
		background-size:auto ;
		border-radius: 100%;
		z-index: 0;
		transition: all 1.5s ease-in-out;


	}
	.china-logo:after
	{


		position: absolute;
		top:-50px;
		left: -80px;
		width: 118.5%;
		height: 108%;
		content: "";
		background-image: url("images/Ellipse-2.png");

		
	}
	.china-logo:before
	{
		position: absolute;
		top:100px;
		left: -180px;
		width: 150%;
		height: 140%;
		content: "";
		background-image: url("images/Ellipse-2-copy.png");
		background-repeat: no-repeat;

		
	}
	.logoAfter
	{
		position: relative;
		min-width: 180px;
		min-height: 130px;
	}
	.logoAfter:after
	{
		position: absolute;
		top:300px;
		right: -190px;
		width: 10%;
		height: 100%;
		content: "";
		background-image: url("images/Ellipse-2-copy-2.png");
		background-repeat: no-repeat;
	}

/*.right-part
{
	position: relative;
	width: 50%;
	width: 960px;
	border: 1px solid yellow;

	}*/
	.ukr-china-club 
	{
		position: relative;
		text-align: center;
		margin-top: 40px;
		font-family: 'Roboto', sans-serif;
	}
	.p1
	{

		font-size: 29px;
		font-weight: 900;
		color: #cbc7ae;
		padding: 5px;
	}
	.p2
	{
		font-size: 25px;
		color: #ffffff;

	}
	.about-us
	{
		margin-left:  -400px;
		margin-top: 50px;
		max-width: 410px;
		height: 460px;
		font-family: 'Roboto', sans-serif;
		color: #fff;
	}
	.about-us h2
	{
		margin-bottom: 50px;

		font-size: 55px;
		font-weight: 500;
	}
	.about-us p
	{
		font-size: 16px;
		text-align: left;
	}
	.about-us .p3
	{
		font-size: 20px;
	}


	.ourMission 
	{

		overflow: hidden;
		width: 100%;
		max-height: 450px;


	}
	.ourMission-container
	{
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		max-width: 1366px;
		margin: 0 auto;


	}
	.ourMission-container:after
	{
		position: absolute;
		top: 270px;
		left: -100px;
		width: 120%;
		height: 100%;
		content: "";
		background-image: url("images/mission.png");
		background-repeat: no-repeat;
		z-index: 0;
	}
	.blockMission
	{
		position: relative;
		z-index: 300;
		margin: 140px 0px 140px 0;
		max-width: 450px;

	}
	.blockMission h1
	{
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-size: 55px;
		font-weight: lighter;
		margin-bottom: 50px;
	}
	.blockMission p
	{
		color: #b10015;
		font-size: 20px;
		font-weight: 300;

	}
	.black-line
	{	
		z-index: 300;
		margin: 70px 30px 0 0;
		width: 140px;
		height: 6px;
		background-image: url("images/darkLine.png");
		background-repeat: no-repeat;
	}
	.vector
	{

		width: 100%;
		
		height: 100%;
		background-color: #f1eee7;
		font-family: 'Roboto', sans-serif;
	}
	.vector .container
	{
		display: flex;
	}
	.vector-left
	{
		margin-right:  100px;
		width: 45%;

	}
	.vector-right
	{

		z-index: 3000;
		width: 55%;
		height: 100%;

	}
	.vector-left-content
	{
		padding-top: 100px;
		
		max-width: 400px;
	}
	.vector-left-content h1
	{
		padding: 0px 0;
		color: #b10015;
		font-size: 55px;
		font-weight: 100;


	}
	
	.vector-left-content ul
	{
		text-align: left;
		padding: 20px 0;
		color: #59646a;
		font-size: 16px;
		
		

	}
	
	.vector-left-content li
	{

		font-weight: 600;
		padding: 10px 0;
	}
	.vector-left-content li:before {

	}
	.vector-right-content
	{

		position: relative;
		z-index: 3000;
		display: flex;
		align-items:  center;
		width: 100%;
		height: 100%;
		justify-content: center;
		background-image: url("images/flag.png");
		background-repeat: no-repeat;
		background-position: 70% 0%;
	}
/*.vector-right-content:after
{
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
	background-image: url("images/flag-china.png");
	background-position: 50% 0;

	}*/
	.vector-right-content-logo
	{
		position: relative;

		margin: 240px 0 220px 0;
		width: 500px;
		height: 320px;
		background-image: url("images/vector-team.png");
		background-repeat: no-repeat;
		background-position: 70% 20% ;
		border-radius: 1%;
		
	}
	.vector-right-content-logo-after
	{	
		position: relative;
		z-index: 0;
		

		top: 20px;
		left: 0px;

		width: 120px;
		height:200px;
		background-image: url("images/after.png");
		background-position: 80% 50%;
	}	
	.vector-right-content-logo-after:after
	{
		position: absolute;
		top: 220;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		background:  linear-gradient(-90deg, rgba(255, 255, 255,0.1),rgba(0, 0, 0,0.8));

		z-index: 2000;

	}	






	.sector-ability
	{
		position: relative;
		z-index: 3000;
		width: 100%;
		margin-bottom: 100px;
	}
	.sector-ability  h1
	{
		color: #202020;
		margin: 140px 0 65px 0;
		text-align: center;
		font-weight: 100;
		font-family: 'Roboto', sans-serif;
		font-size: 55px;
	}
	.sector-examples
	{
		position: relative;
		z-index: 3333;

		display: flex;
		max-width: 1000px;
		flex-wrap: wrap;
		height: 500px;
		
	}
	.examples
	{
		position: relative;
		z-index: 3333;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 250px;
		

	}
	.examples p
	{
		position: relative;
		z-index: 3000;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		font-size: 18px;
	}
	.example-1
	{
		position: relative;
		background-image: url("images/img_01.jpg");
		background-position: 100% 0%;
		background-size:cover;
		background-repeat: no-repeat;
		transition: 0.2s;



	}
	
	.example-1:after
	{
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		background: #b10015;
		
		/*mix-blend-mode: multiply;*/
		opacity: 0.8;
		filter: brightness(100%);

		
	}
	.example-2
	{
		position: relative;
		background-image: url("images/img_02.jpg");
		background-position: 50% 100%;
		
		background-repeat: no-repeat;
		
		
	}
	.example-2:after
	{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #59646a;
		/*mix-blend-mode: multiply;*/
		opacity: 0.8;
		filter: brightness(100%);

	}
	.example-3
	{position: relative;
		background-image: url("images/img_03.jpg");
		background-position: 50% 100%;
		
		background-repeat: no-repeat;
		
		
	}
	.example-3:after
	{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #b4a480;
		/*mix-blend-mode: multiply;*/
		opacity: 0.8;
		filter: brightness(100%);

	}
	.example-4
	{position: relative;
		background-image: url("images/img_04.jpg");
		background-position: 50% 100%;
		
		background-repeat: no-repeat;
		
		
	}
	.example-4:after
	{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #b10015;
		/*mix-blend-mode: multiply;*/
		opacity: 0.8;
		filter: brightness(100%);

	}
	.example-5
	{position: relative;
		background-image: url("images/img_05.jpg");
		background-position: 50% 100%;
		
		background-repeat: no-repeat;
		
		
	}
	.example-5:after
	{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #59646a;
		/*mix-blend-mode: multiply;*/
		opacity: 0.8;
		filter: brightness(100%);

	}
	.example-6
	{
		position: relative;
		background-image: url("images/img_06.jpg");
		background-position: 50% 100%;
		
		background-repeat: no-repeat;
		
		
	}
	.example-6:after
	{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #b4a480;
		/*mix-blend-mode: multiply;*/
		opacity: 0.8;
		filter: brightness(100%);

	}
	.example-7
	{
		position: relative;
		background-image: url("images/img_07.jpg");
		background-position: 50% 100%;
		
		background-repeat: no-repeat;
		
		
	}
	.example-7:after
	{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #b10015;
		/*mix-blend-mode: multiply;*/
		opacity: 0.8;
		filter: brightness(100%);

	}
	.example-8
	{position: relative;
		background-image: url("images/img_08.jpg");
		background-position: 50% 100%;
		
		background-repeat: no-repeat;
		
		
	}
	.example-8:after
	{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: #59646a;
		/*mix-blend-mode: multiply;*/
		opacity: 0.8;
		filter: brightness(100%);

	}

	.and-other 
	{

		width: 100%;

	}
	.circle
	{
		margin: 0 auto;
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		z-index: 1;
		top:-70px;
		left:0;
		height: 140px;
		width: 140px;
		border-radius: 100%;
		background-color: #f1eee7;
/*	background-image: url("images/Ellipse-6.png");
	background-repeat: no-repeat;
	background-position: 0% 100%;*/
}

.circle:after

{
	z-index: -1;
	position: absolute;
	content: "";
	top: -15px;
	left: -12px;
	width: 200%;
	height:200%;
	background-image: url("images/Ellipse-22.png");
	background-repeat: no-repeat;

	

}

.circle:before

{
	z-index: -1;
	position: absolute;
	content: "";
	top: -30px;
	left: -30px;
	width: 200%;
	height:200%;
	background-image: url("images/Ellipse-222.png");
	background-repeat: no-repeat;

	

}
.circle p
{
	
	text-transform: uppercase;
	text-align: center;

	font-size: 13px;
	font-weight: 500;
	padding: 40px 0;
	
}
.help
{
	overflow: hidden;
	width: 100%;
	height: 620px;
	background-color: #b10015;
}
.round-container
{
	position: relative;
	width: 1150px;
	height: 620px;
	margin: 0 auto;
	
	background-image: url("images/bigred.png");
	background-position: 0% 50%;
	background-repeat: no-repeat;
}
.round-container:after
{
	position: absolute;
	top: -330px;
	left: -90px;
	content: "";
	width: 200%;
	height: 200%;
	background-image: url("images/last.png");
	background-repeat: no-repeat;
	/*transform: rotateZ(15deg);*/
}

.help-content h1
{
	padding: 90px 0 65px 0;
	font-size: 55px;
	color: #fff;
	text-align: center;
	font-weight: 100;
}
.helping
{

	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 500px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	
}
.logo-1
{
	position: relative;
	width: 80px;
	height: 60px;
	background-image: url("images/hands.png");
	background-repeat: no-repeat;
	
	border-radius: 100%;
	background-position: center;
	margin: 0 auto;
	margin-bottom: 90px;
}

.logo-1:after
{
	position: absolute;
	top: -20px;
	left: -10px;
	content: "";
	width: 200%;
	height: 200%;
	background-image: url("images/round1.png");
	background-repeat: no-repeat;
}
.logo-1:before
{
	position: absolute;
	top: -30px;
	left: -20px;
	content: "";
	width: 200%;
	height: 220%;
	background-image: url("images/round2.png");
	background-repeat: no-repeat;
}
.logo-2
{
	position: relative;
	width: 80px;
	height: 60px;
	background-image: url("images/lupa.png");
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center;
	
	margin: 0 auto;
	margin-bottom: 90px;
}
.logo-2:after
{
	position: absolute;
	top: 0px;
	left: -30px;
	content: "";
	width: 200%;
	height: 200%;
	background-image: url("images/round1.png");
	background-repeat: no-repeat;
	transform: rotateZ(55deg);
}
.logo-2:before
{
	position: absolute;
	top: -30px;
	left: -58px;
	content: "";
	width: 200%;
	height: 220%;
	background-image: url("images/round2.png");
	background-repeat: no-repeat;
	transform: rotateZ(145deg);
}
.logo-3
{
	position: relative;
	width: 80px;
	height: 60px;
	margin-bottom: 40px;
	border-radius: 100%;
	background-image: url("images/q.png");
	background-position: center;
	background-repeat: no-repeat;
	
	margin: 0 auto;
	margin-bottom: 90px;
}

.logo-3:after
{
	position: absolute;
	top: 0px;
	left: -50px;
	content: "";
	width: 200%;
	height: 200%;
	background-image: url("images/round1.png");
	background-repeat: no-repeat;
	transform: rotateZ(90deg);
}
.logo-3:before
{
	position: absolute;
	top: -52px;
	left: -50px;
	content: "";
	width: 200%;
	height: 220%;
	background-image: url("images/round2.png");
	background-repeat: no-repeat;
	transform: rotateZ(225deg);
}
.help-1
{
	width: 25%;
	margin-right: 60px;
}
.help-2
{
	margin-right: 100px;
	width: 25%;
}
.help-3
{
	width: 20%;
}


.map-contacts
{
	position: relative;
	width: 100%;
	height: 675px;
	
}
.map
{
	position: relative;
	z-index: 3000;
	height: 100%; width: 100%; 
}
/*.befor
{
	position: relative;
	width: 500px;
	height: 500px;
	border-radius: 100%;
	background-color: red;
	}*/
	.mob
	{
		display: none;
	}
	.contacts
	{
		position: absolute;
		top: -560px;
		left: -50px;

		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		flex-direction: column;
		width: 450px;
		height: 450px;
		border-radius: 100%;
		background-color: #fff;

	}
	.contacts:after
	{
		position: absolute;
		top: -25px;
		left: -25px;
		width: 115%;
		height: 120%;
		content: "";
		background-image: url("images/ellipse-contact.png");
		background-repeat: no-repeat;
	}	
	.contacts p
	{
		padding:   10px 0;
	}
	.contacts h1
	{
		color: #a00013;
		font-size: 40px;
		font-weight: 100;
		padding-bottom: 20px;
	}
	.tel
	{
		position: relative;
		font-weight: bold;
		font-size: 20px;
		color: #202020;
	}
	.tel:before
	{
		position: absolute;
		top: 12px;
		left: -25px;
		width: 50%;
		height: 100%;
		content: "";
		background-image: url("images/tek.png");
		background-repeat: no-repeat;
	}
	.mail
	{
		position: relative;
		font-weight: bold;
		font-size: 20px;
		color: #202020;
	}
	.mail:before
	{
		position: absolute;
		top: 14px;
		left: -25px;
		width: 50%;
		height: 100%;
		content: "";
		background-image: url("images/mail.png");
		background-repeat: no-repeat;
	}
	.adres 
	{
		position: relative;
		color: #202020;
		font-weight: lighter;
	}
	.adres:before
	{
		position: absolute;
		top: 14px;
		left: -25px;
		width: 50%;
		height: 100%;
		content: "";
		background-image: url("images/adres.png");
		background-repeat: no-repeat;
	}
	footer
	{
		width:100%;
		height: 90px;
	}
	footer .container
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 40px;

		font-weight: 400;
	}
	.developer
	{
		color: #663300;
		text-decoration: underline;
		cursor: pointer;
		font-style: italic;
		text-transform: uppercase;
	}





	.example-1:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
	.example-2:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}

	.example-1:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
	.example-2:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
	.example-3:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
	.example-4:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
	.example-5:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
	.example-6:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
	.example-7:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
	.example-8:hover
	{
		position: relative;
		z-index: 33333;
		animation-name: sector-animation;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-direction: alternate;
		filter: brightness(110%);
	}
/*.nav-fixed
{
	position: fixed;
	z-index: 6666;
	width: 100%;
	}*/
	li
	{


		transition: 0.5s;
	}
	.nav li:hover
	{
		background-color: #68020f;
	}
	.gm-style-mtc, .gm-svpc/*, .gmnoprint*/
	{
		display: none;
	}
	.map button
	{
		display: none;
	}
	.button-scrollTop

	{
		position:fixed;
		visibility: hidden;


		cursor: pointer;
		z-index: 4000;
		bottom: 30px;
		right: 20px;
		background-color: red;
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		background-image: url("images/scroll.png");

		background-size: 100%;
		background-repeat: no-repeat;
	}
	.ukr-china-club-mob
	{
		display: none;
	}


