@keyframes bgVideo{
	0%{
		opacity: 0;

	}

	100%
	{
		opacity: .7;
	}
}

@keyframes h1Anime
{
	0%{
		font-size: 40px;		
	}
	50%
	{
		font-size: 44px;
	}
	100%
	{
		font-size: 40px;
	}
}
.afterVideo__h1
{
	position: absolute;
	top: 120px;
	left: 50%;
	transform:translateX(-50%);
	font-family: Geometria;
	font-size: 40px;
	line-height: 129.1%;
	text-align: center;
	color: #FFFFFF;
	white-space:nowrap;
	/*transition: 1s all ease-in-out;*/
	opacity: 0;	

}
.afterVideo__h1__show
{
	opacity: 1;
	animation: h1Anime .7s ease-in-out;
}
.first__h1
{
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center
}
.first__h1__item {
	font-family: Geometria;
	font-size: 40px;
	line-height: 129.1%;
	text-align: center;
	color: #FFFFFF;
	margin-top: 120px;
	margin-bottom: 70px;
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0,0,0);
	padding-right: 10px;
}

.first__h1__item {
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
}

.first__h1__item:first-of-type {     
	animation: showup 7s  infinite .9s;
}

.first__h1__item:last-of-type {
	width:0px;
	animation: reveal 7s infinite .9s;
}

.first__h1__item:last-of-type span {
	margin-left:-395px;
	animation: slidein 7s infinite .9s;
}

@keyframes showup {
	0% {opacity:0;}
	20% {opacity:1;}
	80% {opacity:1;}
	100% {opacity:0;}
}

@keyframes slidein {
	0% { margin-left:-800px; }
	20% { margin-left:-800px; }
	35% { margin-left:0px; }
	100% { margin-left:0px; }
}

@keyframes reveal {
	0% {opacity:0;width:0px;}
	20% {opacity:1;width:0px;}
	30% {width:395px;}
	80% {opacity:1;}
	100% {opacity:0;width:395px;}
}
.stopAnime
{
	animation-play-state: paused;
}



#text
{
	width: 100%;
	font-size: 22px;
	line-height: 30px;
	display: block;
	text-align: left;
	font-family: Geometria;
}
.char{
	font-size: 22px;
	height: 22px;
	animation: an 1s ease-out   both;
	display: inline-block;
}

@keyframes an{
	from{
		opacity: 0;
		transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
	}
	to{
		opacity: 1;
		transform: perspective(500px) translate3d(0, 0, 0);
	}
}
