@import url("animations.css");


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}


@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria.eot');
	src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Geometria.woff') format('woff'),
	url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
img
{
	user-select: none;
}
body
{
	position: relative;
	background: #F2F5F6;
}
.one
{
	overflow: hidden;
	position: relative;
	z-index: 222;
}
.bgBalls__item
{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;

}
.circle2
{
	z-index: 1;
	position: absolute;
	bottom: 4%;
	right: 0;
}
.container
{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
header
{
	position: relative;
	width: 100%;
	height: 35px;
	z-index: 22;
	margin-bottom: 50px;
	margin-top: 20px;
}
header .container
{
	display: flex;
	justify-content: space-between;
}
.header__logo
{
	height: 40px;
	object-fit: contain;
}
.menu
{
	display: none;
	position: relative;
	width: 1px;
	height: 100%;
}
.burger:after
{
	position: absolute;
	top: 4px;
	left: -31px;
	content: '\e5d2';
	font-size: 30px;
	color: #000000;
	cursor: pointer;
}
.fixedHeader
{
	position: fixed;
	top: -80px;
	left: 0;
	width: 100%;
	height: 70px;
	background: #FFFFFF;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
	z-index: 2200;
	opacity: 1;
	transition: .6s all ease-in-out;
	opacity: .1;
}
.fixedHeader .burger:after
{
	position: absolute;
	top: 19px;
	left: -31px;
}
.fixedHeader__show
{
	opacity: 1;
	top: 0;
}
.fixedHeader .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

}
.header__nav
{
	display: flex;
}
.header__nav li
{
	margin-right: 15px;
	transition: .4s all linear;
}
.header__nav li:hover 
{
	
	margin-right: 20px
}
.header__nav a
{
	position: relative;
	font-family: Geometria;
	font-size: 18px;
	line-height: 19px;
	text-align: center;
	color: #223942;
	transition: .4s all ease-out;
}
.first
{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 470px;
	background-image: url('../img/bg_first.png');
	background-position: center;
	background-size: cover;
	border-radius: 20px;

}
.afterVideo
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	overflow: hidden;
}
.bg__video
{
	width: 100%;
	position: relative;
	z-index: 1;
}
.bg__video video
{
	object-fit: cover;
}

.first:after
{
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: linear-gradient(193.77deg, #223942 1.85%, #111314 99.23%);
	box-shadow: 0px 7px 34px rgba(0, 0, 0, 0.25);
	border-radius: 14px;
	opacity: 0;

	z-index: 10;
	animation: bgVideo 1s ease-in-out .3s;
}
.first__loaded:after
{
	opacity: .7;
}

.first__content
{
	position: relative;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 88px;
}

.first__content__item
{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 298px;
	transition: .4s all ease-in-out;

}	

.first__content__item__img
{
	position: relative;

	width: 72px;
	height: 72px;
	background:	rgb(254, 79, 23,.3);
	margin-bottom: 18px;
	border-radius: 50%;
	z-index: 25;
	opacity: 0;
	transform: scale(0);
	transition: .7s all ease-out;
}
.first__content__item__img__show{
	opacity: 1;
	transform: scale(1);
}
.first__content__item__img__abs
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top:50%;
	left: 50%;
	background: radial-gradient(79.73px at 4.86% 98.59%, #FFC200 0%, #FE4719 100%);
	transform: translate(-50%,-50%);
	z-index: 25;
	border-radius: 100%;
	width: 85%;
	height: 85%;
	opacity: 1 

}
.first__content__item__text
{
	font-family: Geometria;
	font-size: 16px;
	line-height: 22px;
	/* or 137% */
	transition: .7s all ease-in-out;
	text-align: center;
	transform: scale(0);
	opacity: 0;
	color: #FFFFFF;
}
.first__content__item__text__show
{
	opacity: 1;
	transform: scale(1);
}

.minidscr
{
	display: flex;
	justify-content: space-between;
	margin-top: 43px;
}
.minidscr__item
{
	display: flex;
	align-items: center;
	font-family: Geometria;
	font-size: 16px;
	line-height: 124.1%;
	/* or 20px */


	color: #223942;

}
.minidscr__item span
{
	max-width: 130px;
}
.minidscr__item img
{
	margin-right: 15px;
}

.bluePart
{
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 340px;
	display: flex;
	align-items: center;
	background-image: url('../img/blueBg2.png');
	background-size: cover;
	background-position: center;
	padding: 0 60px;
	background-repeat: no-repeat;
	border-radius: 20px;
	margin-top: 120px;
	margin-bottom: 180px;
	opacity: 1;
	transition: 1s all ease-out;
}
.bluePart__show
{

	opacity: 1;
}
.bluePart__text
{
	width: 461px;
	color: #FFFFFF;
}

.bluePart__img
{
	position: absolute;
	bottom: -94%;
	right: -20%;
	transform: translate(-50%,-50%);
}
.bluePart__img img
{
	transform: scale(0);
	opacity: 0;
	transition: 1.4s all cubic-bezier(0.91, 0.17, 0.55, 0.9);
}
.bluePart__img__show
{
	opacity: 1 !important;
	transform: scale(1) !important;
}
.main
{
	width: 100%;
	height: 684px;
	background: linear-gradient(265.9deg, #FFFFFF 3.9%, #E0EAF2 99.8%);
	box-shadow: 0px 9px 34px rgba(12, 14, 31, 0.1548);
	border-radius: 20px;
	overflow: hidden;
}
.main__head
{
	display: flex;
	width: 100%;
	height: 185px;
}
#swiper-wrapper
{
	display: flex;
	width: 100%;
}
.main__head__item
{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 20%;
	height: 100%;
	background: linear-gradient(205.75deg, #E0EAF2 1.85%, #F2F5F6 99.23%);
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	font-family: Geometria;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	color: #223942;
	cursor: pointer;
	transition: .2s all linear;
	z-index: 10;
}
/*.swiper-wrapper
{
	display: flex;
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;

	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	}*/
	#sw{
		display: flex;
		width: 100%;
		height: 100%;
	}
	.main__head__item:hover
	{
		transform: scale(1.08);
		z-index: 20;
	}
	.main__head__item:first-child
	{
		border-top-left-radius: 20px;
	}
	.main__head__item__circle
	{
		position: relative;

		width: 74px;
		height: 74px;
		border-radius: 100%;

		z-index: 10;
		background: #E0EAF2;
		margin-bottom: 14px;
	}
	.main__head__item__circle__abs
	{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 85%;
		height: 85%;
		border-radius: 100%;
		background: linear-gradient(211.94deg, #E0EAF2 1.85%, #F2F5F6 99.23%);
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
		background: #E0EAF2;
		z-index: 20;
		transition: .4s all ease-out;
	}
	.main__head__item_selected .main__head__item__circle
	{
		background: rgba(254, 79, 23, .3);


	}
	.main__head__item_selected .main__head__item__circle__abs
	{
		opacity: 1;
		background: radial-gradient(79.73px at 4.86% 98.59%, #FFC200 0%, #FE4719 100%);
	}
	.main__head__item_selected
	{
		background: radial-gradient(266.79px at 4.86% 98.59%, #FFC200 0%, #FE4719 100%);
	}


	.main__body
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-top: 75px;
		padding-left: 70px;
		padding-right: 60px;
	}
	.main__body__info
	{
		width: 375px;

	}
	.main__body__video
	{
		width: 560px;
		height: 315px;
		box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.1);

		border-radius: 20px;

	}
	.video-stream,.html5-video-container  
	{
		width: 100%;
		height: 100%;

	}
	.main__body__info li
	{
		position: relative;
		font-family: Geometria;
		font-size: 18px;
		line-height: 22px;
		color: #223942;
		margin-bottom: 30px;
		padding-left: 40px;
		opacity: 0;
		transform: translateX(-500px);
		transition: 1s all ease-in-out;
	}
	.main__body__info li:before
	{
		position: absolute;
		top: -1px;
		left: 1px;
		content: '';
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 24px;
		height: 24px;
	}
	.main__body__info__li_active
	{
		opacity:1 !important;
		transform: translateX(0) !important;
	}
	.case0 li:nth-child(1n):before
	{
		background-image: url(../img/icons/c0_1.svg);
	}
	.case0 li:nth-child(2n):before
	{
		background-image: url(../img/icons/c0_2.svg);
	}
	.case0 li:nth-child(3n):before
	{
		background-image: url(../img/icons/c0_3.svg);
	}
	.case0 li:nth-child(4n):before
	{
		background-image: url(../img/icons/c0_4.svg);
	}


	.case1 li:nth-child(1n):before
	{
		background-image: url(../img/icons/c1_1.svg);
	}
	.case1 li:nth-child(2n):before
	{
		background-image: url(../img/icons/c1_2.svg);
	}
	.case1 li:nth-child(3n):before
	{
		background-image: url(../img/icons/c1_3.svg);
	}
	.case1 li:nth-child(4n):before
	{
		background-image: url(../img/icons/c1_4.svg);
	}
	.case1 li:nth-child(5n):before
	{
		background-image: url(../img/icons/c1_5.svg);
	}


	.case2 li:nth-child(1n):before
	{
		background-image: url(../img/icons/c2_1.svg);
	}
	.case2 li:nth-child(2n):before
	{
		background-image: url(../img/icons/c2_2.svg);
	}
	.case2 li:nth-child(3n):before
	{
		background-image: url(../img/icons/c2_3.svg);
	}
	.case2 li:nth-child(4n):before
	{
		background-image: url(../img/icons/c2_4.svg);
	}
	.case2 li:nth-child(5n):before
	{
		background-image: url(../img/icons/c2_5.svg);
	}
	.case2 li:nth-child(6n):before
	{
		background-image: url(../img/icons/c2_6.svg);
	}



	.case3 li:nth-child(1n):before
	{
		background-image: url(../img/icons/c3_1.svg);
	}
	.case3 li:nth-child(2n):before
	{
		background-image: url(../img/icons/c3_2.svg);
	}
	.case3 li:nth-child(3n):before
	{
		background-image: url(../img/icons/c3_3.svg);
	}
	.case3 li:nth-child(4n):before
	{
		background-image: url(../img/icons/c3_4.svg);
	}
	.case3 li:nth-child(5n):before
	{
		background-image: url(../img/icons/c3_5.svg);
	}


	.case4 li:nth-child(1n):before
	{
		background-image: url(../img/icons/c4_1.svg);
	}
	.case4 li:nth-child(2n):before
	{
		background-image: url(../img/icons/c4_2.svg);
	}
	.case4 li:nth-child(3n):before
	{
		background-image: url(../img/icons/c4_3.svg);
	}
	.case4 li:nth-child(4n):before
	{
		background-image: url(../img/icons/c4_4.svg);
	}
	.case4 li:nth-child(5n):before
	{
		background-image: url(../img/icons/c4_5.svg);
	}
	.case4 li:nth-child(6n):before
	{
		background-image: url(../img/icons/c4_6.svg);
	}


	.main__body__info__btn
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 270px;
		height: 50px;
		border: 1.5px solid #FE5117;
		box-sizing: border-box;
		border-radius: 25px;
		transition: .2s all ease-out;
		font-family: Geometria;
		font-size: 14px;
		line-height: 18px;
		/* identical to box height */
		text-align: center;
		color: #223942;

	}
	.main__body__info__btn:hover
	{
		border: none;
	}
	.button_hb{
		--uiButtonBgColorHover: var(--buttondBgColorHover);
		--uiButtonTextColorHover: var(--buttonTextColorHover);

		position: relative;
		overflow: hidden;
		transition: color .5s ease-out;
	}

	.button_hb:before{
		content: "";
		background-color: var(--uiButtonBgColorHover);
	}

	.button_hb:focus{
		outline: none;
	}

	.button_hb:hover, .button_hb:focus{
		color: var(--uiButtonTextColorHover);
	}

	.button_hb .button__icon, .button_hb:not(.button_hidden-text) .button__label{
		position: relative;
		z-index: 2;
	}


	.button_hb-type2:before{
		width: 0;
		height: 0;
		padding: 50%;
		border-radius: 50%;

		position: absolute;
		left: 50%;
		top: 50%;

		transform: translate3d(-50%, -50%, 0) scale(0);
		transition: transform .35s ease-out;
	}

	.button_hb-type2:hover:before, .button_hb-type2:focus:before{
		transition-duration: .4s;
		transform: translate3d(-50%, -50%, 0) scale(1.5);

	}

	.color1 {
		--buttonTextColor: #223942;
		--buttondBgColorHover: #FE5117;
		--buttonTextColorHover: #fff;

	}
	.color2 {
		--buttonTextColor: #5350FF;
		--buttondBgColorHover: #fff;
		--buttonTextColorHover: #5350FF;

	}

	.teachers
	{
		width: 100%;
		margin-top: 167px;
	}
	.teachers__title
	{
		display: block;
		font-family: Geometria;
		font-size: 36px;
		line-height: 44px;
		/* or 122% */

		text-align: center;
		margin-bottom: 104px;
		color: #223942;

	}

	.teachers__block
	{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.teachers__block__item
	{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 218px;
		height: 180px;
		margin-right: 20px;
		margin-bottom: 84px;
		background-image: url('../img/base2.png');
		background-size: cover;
		background-position: center;
		border-radius: 20px;
		transition: .6s all ease-in-out;
		opacity: 0;
		transform: scale(0);
		cursor: pointer;
		padding: 0 10px;
	}
	.teachers__block__item2
	{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

	    width: 218px !important;
   		 height: 220px;
			padding: 0 10px;
	 
	 
		background-image: url('../img/base2.png');
		background-size: cover;
		background-position: center;
		border-radius: 20px;
		transition: .6s all ease-in-out;
		opacity: 1;
		transform: scale(1);
		cursor: pointer;
	}
	.mobTeachers
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 100px;

	}
	.s2 {

		 width: 100%;
      height: 100%;
 
      
	}
	.s {
		  
		height: 300px !important;
	 /*	width:220px !important;
	 	margin: 0 30px;
*/		display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
	}
 
 	.slick-initialized .slick-slide
 	{
 		display: flex !important;
 	}
	.teachers__block__item__show
	{
		transform: scale(1);
		opacity: 1;
	}
	.teachers__block__item:nth-child(5n)
	{
		margin-right: 0;
	}
	.teachers__block__item h5
	{
		font-family: Geometria;
		font-size: 16px;
		line-height: 44px;
		/* identical to box height, or 275% */
		margin-top: 48px;
		text-align: center;

		color: #223942;
	}
	.teachers__block__item2 h5
	{
		font-family: Geometria;
		font-size: 16px;
		line-height: 44px;
		/* identical to box height, or 275% */
		margin-top:98px;
		text-align: center;

		color: #223942;
	}
	.teachers__block__item span
	{
		font-family: Geometria;
		font-size: 14px;
		line-height: 17px;
		/* or 121% */

		text-align: center;

		color: #66757C;
	}
	.teachers__block__item2 span
	{
		font-family: Geometria;
		font-size: 14px;
		line-height: 17px;
		/* or 121% */

		text-align: center;

		color: #66757C;
	}

	.teachers__block__item__imf img
	{
		width: 84px;
		height: 84px;
		position: absolute;
		top:-42px;
		left: 50%;
		box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		transform: translateX(-50%);
		transition: .3s all ease-out;
		object-fit: cover;
	}
	.teachers__block__item:hover img
	{
		width: 94px;
		height: 94px;

	}
	.teachers__block__item2 .teachers__block__item__imf img
	{
		width: 100px;
		height: 100px;
	}

	.contacts
	{
		display: flex;
		justify-content: center;
		margin-top: 150px;
		margin-bottom: 145px;
	}
	.contacts__left
	{
		width: 375px;
		padding-right: 20px;
		transform: translateX(-70vw);
		opacity: 0;
		transition: 2s all cubic-bezier(0.1, 0.04, 0.44, 1);
	}

	.contacts__left__show
	{
		transform: translateX(0);
		opacity: 1;
	}
	.contacts__left h1
	{

		font-family: Geometria;
		font-size: 36px;
		line-height: 44px;
		/* or 122% */

		margin-bottom: 50px;
		color: #223942;

	}

	.contacts__left p
	{

		font-family: Geometria;
		font-size: 16px;
		line-height: 24px;
		/* or 150% */

		color: #223942;

	}
	.contacts__left span
	{
		color: #66757C;
	}


	.contacts__right
	{
		display: flex;
		background: linear-gradient(224.23deg, #E0EAF2 1.85%, #F2F5F6 99.23%);
		box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
		border-radius: 20px;
		position: relative;
		width: 370px;
		height: 240px;
		transform: translateX(70vw);
		opacity: 0;
		transition: 2s all cubic-bezier(0.1, 0.04, 0.44, 1);

	}
	.contacts__right__show
	{
		opacity: 1;
		transform: translateX(0);
	}
	.contacts__right__kyrator
	{
		display: block;
		position: absolute;
		top: 42%;
		left: -20px;
		transform: translateY(-50%);
		box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.35);
		width: 115px;
		height: 115px;
		border-radius: 15px;
		object-fit: cover;
		object-position: 50% 20%;
	}

	.contacts__right__orange
	{
		width: 70px;
		height: 100%;

		background-image: linear-gradient(to right, #FE4719, #FFC200);
		border-radius: 20px 0px 0px 20px;
	}
	.contacts__right__orange__img
	{
		position: absolute;
		bottom:25px;
		left: 30px;
		transition: .3s all ease-out;

	}

	.contacts__right__info
	{
		height: 100%;
		width: 70%;
		padding-left: 50px;
		padding-top: 40px;
		padding-right: 20px;
	}
	.contacts__right__info h6
	{
		font-family: Geometria;
		font-size: 10px;
		line-height: 129.1%;
		/* identical to box height, or 13px */

		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 8px;
		color: #FE4F17;
	}
	.contacts__right__info h5
	{

		font-family: Geometria;
		font-size: 18px;
		line-height: 23px;
		/* identical to box height */
		color: #223942;
		margin-bottom: 25px;
	}
	.contacts__right__info span
	{
		font-family: Geometria;
		font-size: 14px;
		line-height: 17px;
		/* or 121% */


		color: #66757C;
	}

	#text2
	{
		display: none;
		width: 100%;
		font-size: 22px;
		line-height: 30px;

		text-align: left;
		font-family: Geometria;
	}
	footer
	{
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 100px;
	}
	.footer__block
	{
		margin-right:75px;
	}
	.footer__block:nth-child(2n) 
	{

		width: 110px;
		margin-right: 210px;
		margin-left: 50px;
	}
	.footer__block:nth-child(3n) 
	{
		width: 255px;
	}
	.footer__block:last-child
	{
		width: 270px;
		margin-right: 0;
	}
	.footer__block li
	{
		margin-bottom: 2px;
	}
	.footer__block li:hover a
	{
		color: #223942;
		font-weight: bold;
		padding-left: 15px;

	}
	.footer__block a
	{
		font-family: Geometria;
		font-size: 14px;
		line-height: 227.2%;
		/* or 32px */
		color: #9FA9AD;
		transition: .2s all ease-out;
	}

	.footer__block__social
	{
		display: flex;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.footer__block__social a
	{
		margin-right: 40px;
		transition: .3s all ease-out;
	}
	.footer__block__social a:hover
	{
		transform: scale(1.4);
	}
	.contacts__right__orange:hover img
	{
		transform: scale(1.4);
	}
	.footer__block__rights
	{
		font-family: Geometria;
		font-size: 13px;
		line-height: 16px;

		color: #66757C;

	}
	.footer__block__logo
	{
		width: 50px;
	}



	@media(max-width:1230px)
	{
		.container
		{
			max-width: 90vw;
		}
		.minidscr {
			flex-wrap: wrap;
			justify-content: center;
		}

		.minidscr__item {
			display: flex;
			align-items: center;
			font-family: Geometria;
			font-size: 16px;
			line-height: 124.1%;
			color: #223942;
			margin-bottom: 30px;
			margin-right: 40px;
		}
		.minidscr__item:last-child
		{
			margin-right: 0;
		}
		.first__content {
			position: relative;
			z-index: 20;
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 0 48px;
		}
		.bluePart__img img
		{
			width: 100%;
		}
		.bluePart__img {
			position: absolute;
			bottom: -74%;
			right: -23%;
			width: 46%;
		}

		.main__body__video {
			width: 50%;
			height: 255px;
		}
		.main__body__info {
			width: 45%;
		}
		.main__head {
			display: flex;
			width: 100%;
			height: 134px;
		}
		.main {
			width: 100%;
			height: 626px;
		}
		.teachers__block__item:nth-child(5n) {
			margin-right: 20px;
		}
	}


	@media(max-width:1030px )
	{
		.bluePart__img {
			position: absolute;
			bottom: -57%;
			right: -23%;
			width: 43%;
		}

	}

	@media(max-width: 950px)
	{
		.bg__video {
			width: 100%;
			position: relative;
			z-index: 1;
			display: none;
		}
		.first {
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 731px;
		}
		.first__content {
			position: relative;
			z-index: 20;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			align-items: center;
		}
		.afterVideo__h1 {
			position: absolute;
			top: 60px;
		}
		.first__h1__item {
			font-family: Geometria;
			font-size: 40px;
			line-height: 129.1%;
			text-align: center;
			color: #FFFFFF;
			margin-top: 60px;
			margin-bottom: 20px;
		}
		.first__content__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 329px;
			margin-bottom: 20px;
		}
		.first__h1
		{
			display: none;
		}
		.afterVideo__h1 {
			position: relative;
			top: 0;
			margin-bottom: 30px;
			margin-top: 40px;
			opacity: 1;
			transition: .4s all ease-in-out;
			white-space: pre-wrap;
			width: 80%;
			animation: mobH 1s ease-in-out;
		}
		.bluePart__text {
			width: 100%;
		}
		.bluePart {
			margin: 0 auto;
			position: relative;
			width: 100%;
			height: 340px;
			display: flex;
			align-items: flex-start;
			margin-bottom: 250px;
			padding: 0 60px;
			padding-top: 40px;
		}
		.bluePart__img {
			position: absolute;
			bottom: -134%;
			right: -21%;
			width: 70%;
		}
		#text
		{
			display: none;
		}
		#text2
		{
			display: block;
		}
		.minidscr {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 60px;
		}
		.minidscr__item {
			display: flex;
			width: 30%;
			align-items: center;
			font-family: Geometria;
			font-size: 14px;
			line-height: 124.1%;
			color: #223942;
			margin-bottom: 30px;
			margin-right: 0;
		}
	}


	@media(max-width: 850px)
	{
		.bluePart {
			margin: 0 auto;
			position: relative;
			width: 100%;
			height: 340px;
			display: flex;
			align-items: flex-start;
			margin-bottom: 350px;
			padding: 0 60px;
			padding-top: 40px;
		}
		.bluePart__img {
			position: absolute;
			bottom: -124%;
			right: -21%;
			width: 70%;
		}
		.main {
			width: 100%;
			height: 100%;
		}
		.main__body {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			padding-top: 75px;
			padding-left: 70px;
			padding-right: 60px;
			padding-bottom: 140px;
		}
		.main__body__info {
			width: 100%;
		}
		.main__body__video {
			width: 100%;
			height: 300px;
			margin-top: 40px;

		}
		.main__body__info__btn {
			position: absolute !important;
			bottom: 43px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@media(max-width: 740px)
	{
		.bluePart__img {
			position: absolute;
			bottom: -108%;
		}
		.bluePart {
			margin-bottom: 300px;
		}
	}

	@media(max-width: 480px)
	{
		.first:after
		{
			 animation: none;
			opacity: .7;
		}
		.teachers__block__item2 h5
		{
			margin-top: 70px;
		}
		.bluePart__img img
		{
			transition: 1s all cubic-bezier(0.91, 0.17, 0.55, 0.9);
		}
		.header__nav li:hover 
		{
			margin-right: 15px;
		}
		.header__nav li:last-child
		{
			margin-right: 0;
		}
		.main__body {

			padding-top: 75px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.main__body__video {
			width: 100%;
			height: 222px;
			margin-top: 40px;
		}
		.afterVideo__h1 {
			position: relative;
			top: 0;
			font-weight: bold;
			margin-bottom: 30px;
			margin-top: 30px;
			opacity: 1;
			transition: .4s all ease-in-out;
			white-space: pre-wrap;
			width: 90%;
			font-size: 30px;
		}
		.first__content__item__text {
			font-family: Geometria;
			font-size: 14px;
		}
		.minidscr__item:last-child {
			margin-right: 40px;
		}
		.minidscr__item:nth-child(2n)
		{
			margin-right: 0;
		}
		.minidscr__item {
			display: flex;
			width: 40%;
			align-items: center;
			font-family: Geometria;
			font-size: 14px;
			line-height: 124.1%;
			color: #223942;
			margin-bottom: 30px;
			margin-right: 20px;
		}
		.minidscr {
			width: 95%;
			margin: 0 auto;
			margin-top: 50px;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-bottom: 60px;

		}
		#text2 {
			display: block;
			width: 100%;
			font-size: 16px;
			line-height: 30px;
			text-align: left;
			font-family: Geometria;
		}
		.bluePart {
			margin: 0 auto;
			position: relative;
			width: 100%;
			height: 460px;
			display: flex;
			align-items: flex-start;
			margin-bottom: 150px;
			padding: 0 15px;
			padding-top: 40px;
		}
		.bluePart__img {
			position: absolute;
			bottom: -39%;
			right: -43%;
			width: 93%;
		}
		.contacts {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 80px;
		}
		.contacts__left {
			width: 90%;
			margin-bottom: 50px;
			padding-right: 0px;
		}
		.contacts
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 150px;
			margin-bottom: 145px;
		}
		.contacts__left h1 {
			font-family: Geometria;
			font-size: 32px;
			line-height: 44px;
			margin-bottom: 30px;
			color: #223942;
		}
		.contacts__right {


			width: 90%;
		}
		.contacts__right__info {
			height: 100%;
			width: 100%;
			padding-left: 60px;
			padding-top: 40px;
			padding-right: 15px;
		}
		.main__head__item:first-child
		{
			border-top-left-radius: 0;
		}
		.header__nav
		{
			display: none;
		}
		.menu
		{
			display: block;
		}
	}

	.fixedDropMenu
	{
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 30000;
		background-color: #fff;
		width: 100vw;
		height: 80px;
		transition: .5s all ease-out;
		transform: translateX(-100vw);
		opacity: 0;
		-webkit-box-shadow: 3px 9px 29px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 9px 29px -4px rgba(0,0,0,0.75);
		box-shadow: 3px 9px 29px -4px rgba(0,0,0,0.75);
	}
	.fixedDropMenu__show
	{
		transform: translateX(0);
		opacity: 1;
	}
	.fixedDropMenu .header__nav
	{
		display: flex;
		/* flex-direction: column; */
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 90%;
		margin: 0 auto;
	}
	@media(max-width: 380px)
	{
		.main__body__video {
			width: 100%;
			height: 186px;
		}
	}
	@media(max-width: 350px){
		.first
		{

		}
		.afterVideo__h1 {
			position: relative;
			top: 0;
			font-weight: bold;
			margin-bottom: 30px;
			margin-top: 30px;
			opacity: 1;
			transition: .4s all ease-in-out;
			white-space: pre-wrap;
			width: 90%;
			font-size: 28px;
		}
		.first__content {

			padding: 0px 15px;
		}
	}


	.opacityNone
	{
		opacity: 0;
	}
	.displayNone
	{
		display: none;
	}
