@media(max-width: 800px)
{
	.noMob
	{
		display: none;
	}
	.nav
	{
		display: none;
	
	}
	.top_info
	{
		display: none;
	}
	.mob_top_info
	{
		overflow: hidden;
		display: flex;
		font-size: 15px;
		width: 100vw;
	}
	.red
	{
		color: red;
	}
	.mob_footer
	{
		display: flex;
		flex-wrap: wrap;
		 
	}
	.mob_footer_block1
	{

		width: 43%;
		margin: 10px 25px;
	}
	.green_tele
	{
		position: relative;
		display: flex;
		justify-content: center;
		vertical-align:  middle;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		height: 45px;
		background-color: #4fc043;
	}
	.arrow
	{
		position: absolute;
		top: -75px;
		right: 5px;
		width: 70px;
		height: 60px;
	}
	.green_tele p
	{
		margin-top: 15px;
		font-size: 1rem;
		color:#fff;
	}
	li
	{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.mob_footer_block1 li a
	{
		list-style: none;
		text-decoration: underline;
		color: #7297bd;
		padding: 0;
	}
	.mob_footer_block1 p 
	{
		margin-left: 35px;
	}
	.mob_footer_block1 a 
	{
		color: #000;
		text-decoration: underline;
	}
	.mob_footer_block1 img
	{
		margin-left:  30px;
	}
	.top_text
{

	text-align: center;
	width: 100%;
}
.top_text p
{
	margin: 15px;
}
.left_text_info 
{
	border-right:1px solid #e4e4e4;
}
	.left_text_info
	{
		display: flex;

		width: 50%;
	}
	.right_text_info
	{	
		overflow: hidden;
		padding-left: 25px;
		width: 50%;
		display: flex;
		justify-content: center;
	}
	.mob_nav_container
	{
		display: flex;
	}
	.mob_nav
	{
		display: block;
		padding-top: 5px;
		height: 45px;
		background-color: #05a300;
	}
	.left_part_nav
	{
		display: flex;
		 max-width: 270px;
	}
	.left_part_nav h1
	{

		color: #fff;
		width: 120px;
		font-size: 25px;
		margin-top: 5px;
		margin-left: 50px;
		margin-right: 60px;
	}
	.right_part_nav
	{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#custom-search-input
	{
		margin: 0;
		padding: 0;
		 width:48vw;
		 height: 25px;

	}
	#custom-search-input input 
	{
		height: 20px;
	}
	.input-group
	{
		 width: 100%;
	}
	.input-group-btn
	{
		height: 20px;
	}
	.input-lg
	{
		
		height: 10px;
	}
	.input-group img
	{
		height: 20px;
		width: 20px;
		margin-bottom: 25px;
	}
	.basket
	{
		display: none;
	}
	.mob_mainLogo h1
	{
		color: #fff;
		width: 120px;
		font-size: 25px;
		margin-top: 5px;

	}
	.mob_basket img
	{
		position: relative;
		height: 25px;
		width: 30px;
		 margin:  0px 20px 0  0px;

	}
	.mob_yellowBall
	{
		position: absolute;
		top: 5px;
		right: 1%;
		border-radius: 100%;
		text-align: center;
		font-size: 11px;
		width: 15px;
		height: 15px;
		background-color: yellow;
	}
	.input_line
	{
		display: none;
	}
	.visb_mob
	{
		visibility: visible;
	}
	.top_text_content
	{
		width: 1000px;
	}
	.burger
		{
			position: relative;

			display: flex;
			justify-content: flex-start;
			align-items: center;
			z-index: 0;

		}
		.burger-btn
		{
			position: relative;
			margin-left: 10px;
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			z-index: 0;

		}

		.burger-btn span,
		.burger-btn span::after,
		.burger-btn span::before
		{
			position: absolute;
			top: 40%;
			left: 30%;
			background-color: #fff;
			width: 20px;
			height: 3px;
		}
		.burger-btn span::after,
		.burger-btn span::before
		{ 
			display: block;
			transition: 0.2s;
			margin-left: -6px;
			height: 3px;
			width: 100%;
			content: '';
		}
		.burger-btn span::after
		{

			transform: translateY(-7px);

		}
		.burger-btn span::before
		{
			transform: translateY(5px);
		}

		.burger-btn-acitve span
		{
			height: 0;
		}
		.burger-btn-acitve span:after
		{
			transform: rotate(45deg);
		}
		.burger-btn-acitve span:before
		{
			transform: rotate(-45deg);
		} 
}